@CHARSET "ISO-8859-1";

/* Gesamte Seite nutzen ohne Ränder */
html, body {
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}

/* Unterpanel für die Routen */
.subpanel {
    width: 100%;
    margin-bottom: 15px;
}

/* Behälter für die Map */
#mapcontainer {
    float: left;
    width: calc(100% - 200px);
    padding: 0;
    height: 100%;
    margin: 0;
}

/* Leaflet Map */
#map {
    float: left;
    height: 100%;
    width: 100%;
}

/* Seitenpanel für alle Werkzeuge zum bearbeiten */
#toolcontainer {
    float: left;
    width: 200px;
    padding: 0;
    height: 100%;
    margin: 0;    
    background: linear-gradient(to right, #999999 -7%, #ffffff 100%);
    
}

#toolhead {
    height: 120px;
    background: linear-gradient(to right, #999999 -7%, #ffffff 100%);
}

/* Panel für die Anzeige der Bediengebiete */
#areas {
    width: 100%;
    height:100px;
}

/* Auswahl der Biediengebiete */
#areaSelector {
    width: 100%;
    height: calc(100% - 22px);
}


/* Panel für die Anzeige der Routen */
#routepanel {
    float: left;
    width: 100%;
    height: 300px;
    margin: 0;
    overflow: scroll;}

/*  Panel um Test-Route anzulegen*/
#editorcontainer {
    height:  calc(100% - 554px); /* Minus toolcontainer(300px), toolhead(120px), area(100px) und slider(36px) */
    width: 100%;
    margin: 0;
}

/* Slider für Bearbeitung von w3schools */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #c0c0c0;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #008000;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}